* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    background-color: white;
}

header nav {
    height: 90px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 100px;
    height: 88px;
}


.searchinput {
    width: 400px;
    position: relative;
}

.searchinput input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    height: 40px;
    padding-left: 40px;
}


.searchinput i {
    position: absolute;
    top: 13px;
    left: 10px;
}

.ul ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 10px;
    font-size: 18px;
}

.ul ul li a {
    color: black;
    text-decoration: none;


    i {
        font-size: 20px;
    }
}


.ul ul li a:hover {
    color: rgb(182, 123, 46);
}

.menu {
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    display: none;
}





.main {
    height: auto;
    width: 100%;
    position: absolute;
    top: 90px;
}


/* .carousel-indicators button {
    width: 20px !important;
    height: 20px !important;
    border-radius: 20px !important;
    background-color: black !important;
    padding: 0 !important;
    border: none !important;
}

.carousel-indicators .active {
    background-color: red;
} */

.carousel-control-next,
.carousel-control-prev {
    width: 3% !important;
}

.carousel-control-next-icon {
    background-color: black !important;
}

.carousel-control-prev-icon {
    background-color: black !important;
}




.main-container {
    height: auto;
    padding: 20px;
    width: 100%;
    background-color: white;

    h1{
        text-align: center;
        padding-bottom: 20px;
        margin-top: 20px;
    }
}

.d-flex- {
    display: flex;
    gap: 20px;
    width: max-content;
    will-change: transform;
    animation: scroll 45s linear infinite;
}

.box-container {
    height: 250px;
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-img {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    margin: auto;
    margin-top: -10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    img {
        border-radius: 50%;
        height: 100%;
        width: 100%;

    }
}

.box-title {
    text-align: center;
    font-size: 22px;
    color: black;
    margin-top: 10px;
}

.box-container:hover{
    margin-top: -20px;
    transition-duration: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.slider-wrapper {
    overflow: hidden;
    padding: 30px;
}

.slider-wrapper:hover .slider-track {
    animation-play-state: paused;
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.slider-track {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: scroll 45s linear infinite; /* duration slow + smooth */
}
























@media(max-width:900px) {
    .ul ul {
        font-size: 15px;
    }

    .ul ul li a i {
        font-size: 15px;
    }

    header nav {
        padding-left: 20px;
        padding-right: 20px;
    }
    .box-container{
        height: 200px;
        width: 200px;
    }
    .box-title{
        font-size: 18px;
    }
    .main-container{
        padding: 0;
    }
    .slider-wrapper{
        padding: 20px;
    }
}

@media(max-width:750px){
    .box-container{
        height: 150px;
        width: 150px;
    }
     .box-title{
        font-size: 15px;
    }
    .main-container h1{
        font-size: 25px;
        padding: 0;
    }
}


@media (max-width: 600px) {

    header nav {
        justify-content: space-between;
        padding: 0 15px;
        height: 50px;
    }
    .main{
        top: 50px;
        
    }
    .logo img{
        width: 70px;
        height: 50px;
    }

    .searchinput {
        display: none;
    }

    .menu {
        display: block;
        cursor: pointer;
        padding: 5px;
    }

    #menuList {
        position: absolute;
        top: 50px;
        left: 0;
        background-color: red;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0;
        overflow: hidden;
        
    }

    .ul ul {
        padding-top: 0px;
    }

    .ul ul li {
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .showMenu {
        display: flex;
    }
    .main-container h1{
        margin-bottom: 0;
    }
    .slider-wrapper{
        padding: 10;
    }
    .box-container{
        width: 120px;
        height: 120px;
    }
    .main-container h1{
        font-size: 20px;
    }
}
@media(max-width:450px){
    .box-title{
        font-size: 13px;
        margin-bottom: 5px;
        text-align: center;
    }
    .main-container h1{
        margin-top: 10px;
        font-size: 15px;
    }
}